<h1>kebab master</h1>
  <nav>
  <ul>
    <li class="home">Presentation</li>
    <li class="menu1">Menu Classic</li>
    <li class="menu2">Menu du chef</li>
  </ul>
</nav>
<div class="content">
  <div class="pres">
    <h3>Notre resto</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod </p>
  </div>

  <div class="classic gone">
    <h3>le kebab maison</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod </p>
  </div>

  <div class="chef gone">
    <h3>l'assiette</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod </p>
  </div>
</div>
